<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQjoMWTA5rTAUkPaUIdryMxlSq9H3Keh0</string>
	<key>GCM_SENDER_ID</key>
	<string>152063764580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lucrieffel.CPSC357FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>cpsc357firebasedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>cpsc357firebasedemo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152063764580:ios:bef0a463f252df6ec11771</string>
</dict>
</plist>